<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudOperations.Properties.Settings.DbOgrenciConnectionString"
            connectionString="Data Source=DESKTOP-ARML8T9\SQLEXPRESS;Initial Catalog=DbOgrenci;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>